.menu {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin: auto;
  padding: 32px;
}

.button-header {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.point-locale {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 0.3rem;
  padding: 10px;
  background-color: #7f47f86c;
  border: none;
  color: #8047F8;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.car-shop {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px;
  background-color: #c47f1744;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
