@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 526px;
  padding: 40px;
  border: 1px solid;
  border-radius: 6px 36px;
  position: relative;
  
  &::before{
    content: '';
    position: absolute;
    inset: -1px;
    z-index: -1;
    border-radius: 7px 37px;
    background: linear-gradient(102.89deg, #dbac2c 2.61%, #8847f8 98.76%);
  }
}

.cardConfirmation {
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: #574F4D;
}

